<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AngularJS Setup</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body ng-app="myApp">
  <h1>AngularJS Controller</h1>

  <section ng-controller="DemoCtrl">
    <h2 ng-mouseover="incPrimitiveValue()">Aufgaben</h2>
    <p>
      Controller in AngularJS stellen Daten und Funktionalität für das HTML-Template bereit.
      Im Idealfall ist der Controller-Code sehr kurz und hat auch keine Kenntnisse vom
      DOM-Modell des Templates. Dies steigert die Testbarkeit der Controller.
    </p>
    <p>
      Controller werden im Template angewandt über eine <code>ng-controller</code>-Direktive, die
      den registrierten Controller-Namen übergeben bekommt. AngularJS erzeugt dann einen
      Scope (Sichtbarkeitsbereich, Kontext), der dem Controller-Konstruktor auf Wunsch im
      <code>$scope</code>-Argument übergeben wird.
    </p>
    <p>
      Aktueller Zählerstand: {{ primitiveValue }}
      <button ng-click="incPrimitiveValue()">Inc</button>
    </p>
    <p>
      Anzahl Primzahlen bis 20: {{ countOfPrimes(10) }}
    </p>
    <p>
      Meine bekannten Primzahlen
      <ul>
        <li ng-repeat="p in arrayValue">{{ p }}</li>
      </ul>
    </p>
    <p>
      Ein Schauspieler: {{ fullname() }}
    </p>
  </section>
  <h2>Ist dies schon eine AngularJS-Anwendung?</h2>
  <p>
    Antwort: <strong ng-bind="'Ja!'">Nein!</strong>
  </p>
  <!-- inject:js -->
  <!-- endinject -->
</body>

</html>
