<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AngularJS Setup</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body ng-app="myApp">
  <h1>AngularJS</h1>
  <section ng-controller="ParentCtrl as vm">
    <h2>Controller Hierarchie</h2>
    <p>
      Controller können geschachtelt werden. Die kann zu sehr trickreichem (negativ!)
      Code führen. Ausweg sind Components. Wichtig ist: Scopes werden "vererbt" - siehe
      dazu auch das Scope-Hierarchie Beispiel
    </p>
    <p>
      Wichtige Themen einer AngularJS-Schulung: (Click to vote!)
    </p>
    <ul>
      <li ng-repeat="topic in vm.topics" ng-controller="ChildCtrl as vm">
        <span ng-click="vm.voteFor()">{{ vm.topic }}</span>
        (Votes: {{ vm.votes }})
      </li>
    </ul>
  </section>
  <h2>Ist dies schon eine AngularJS-Anwendung?</h2>
  <p>
    Antwort: <strong ng-bind="'Ja!'">Nein!</strong>
  </p>
  <!-- inject:js -->
  <!-- endinject -->
</body>

</html>
